#### https://www.geeksforgeeks.org/python-programming-language/

#### 1. Namespaces and Scope in Python
https://www.geeksforgeeks.org/namespaces-and-scope-in-python/

<img src='Image/1.png'>

In [1]:
def out_fun():
    print('entering out_fun:')
    
    def in_fun():
        print('entering in_fun:')
        
        in_var=10
        print('in_var', in_var)
        print('out of in_fun')
    
    in_fun()
    print(in_var)

In [2]:
out_fun()

entering out_fun:
entering in_fun:
in_var 10
out of in_fun

NameError: name 'in_var' is not defined

#### Note:
- Outer functions donâ€™t have accessibility of inner local variables

### 2. If:
- if statement
- if..else statements
- nested if statements
- if-elif ladder  
https://www.geeksforgeeks.org/decision-making-python-else-nested-elif/

<img src='Image/2.png'>

#### if:

In [ ]:
i = 10
if i > 15:
    print('if block', i)

print('out of block')

#### if-else:

In [ ]:
#### if-else:

i2=10

if i2>15:
    print('1st if block:', i2)
else:
    print('2nd if block:', i2)
    
print('out of all blocks.')

- The block of code following the else statement is executed as the condition present in the if statement is false after call the statement which is not in block(without spaces).

#### nested if:

In [ ]:
i3 = 10

if i3 < 15:
    print('1st if: i3 < 15')
    
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if i3 < 12:
        print('nested if: i3 < 12')

print ('i3 > 15')

#### if-elif-else ladder:

- As soon as one of the conditions controlling the if is true, the statement associated with that if is executed, and the rest of the ladder is bypassed.
-  If none of the conditions is true, then the final else statement will be executed.

In [ ]:
i4 = 10

if (i4 == 10):
    print('10')
elif (i4 == 12): #bypass
    print('12')
elif(i4 == 14):#bypass
    print('14')
else: #bypass
    print('no present.')
    
print('out')

### 3. Input:

#### Single input:

In [ ]:
g = input("input:")

In [ ]:
type(g)

- Whatever you enter as input, input function convert it into a string.

#### Multiple input:

In [3]:
x1, x2, x3, x4 = input('input: ').split(',')

input: 3,3,4,5

In [4]:
type(x1)

str

In [5]:
x1, x2, x3, x4 = input('input: ').split(',')

input: 5,6,7,8

In [6]:
# Make a list:
li = list(map(int, input('input: ').split(',')))
print(li)

input: 4,5
[4, 5]

#### OR:

In [7]:
li = [int(x) for x in input('input:').split(',')]
print(li)

input:2,3,4
[2, 3, 4]

In [8]:
x, y, z = [int(x) for x in input('input:').split(',')]
print(x, y, z)

input:4,5,6
4 5 6

### 4. Print without newline in Python 3.x: end = ' ')

In [9]:
print('1st line', end=' ')
print('2nd line')

1st line 2nd line

In [10]:
print('1st line', end='@')
print('2nd line')

1st line@2nd line

In [11]:
for i in range(4):
    print(i, end = ' ')

0 1 2 3

### 5. separator:

In [12]:
print('A', 'B', 'C', sep='')

ABC

In [13]:
print('test', 'jupyter','Sep.7th', sep='@')

test@jupyter@Sep.7th

In [14]:
print('Sep', '7th', sep='-', end = '@2019')

Sep-7th@2019

### 5. String:

#### Index access:

<img src = 'Image/String-Indexing.jpg'>

In [15]:
String1 = "GeeksForGeeks"
print(String1[3:12]) # Last excluded.
print(String1[3:-2]) # Last included.

ksForGeek
ksForGee

#### updation and deletion:
- Updation or deletion of characters from a String is not allowed. 
- Strings are immutable
- Have to updating Entire String by re-assignment.

#### Positional Formatting :

In [16]:
String0 = "{1}, {0}, {2}".format("string1", "string2", "string3")
print(String0)

string2, string1, string3

In [17]:
String0 = "{1}, {1}, {2}".format("string1", "string2", "string3")
print(String0)

string2, string2, string3

#### Keyword formatting:

In [18]:
String2 = "{b}, {c}, {a}".format(a="String1", b="String2", c="String3")
print(String2)

String2, String3, String1

#### Formatting of Integers:

In [19]:
String3 = '{0:b}'.format(16) # Binary representation 
print(String3)
print(type(String3))

10000
<class 'str'>

#### Formatting of Floats:

In [20]:
# Exponent representation
String4 = '{0:e}'.format(31415926)
print(String4)
print(type(String4))

3.141593e+07
<class 'str'>

#### Rounding off Integers:

In [21]:
String5 = '{0: .2f}'.format(1/6)
print(String5)

 0.17

#### If all characters in the string are digits:

In [22]:
print(String5.isdigit()) # 0.17
print(String3.isdigit()) # 10000

False
True

In [23]:
print(String5.isdecimal()) # 0.17
print(String3.isdecimal()) # 10000

False
True

#### If all characters in the string are alphabets:

In [24]:
String1 = 'abcde'
print(String1.isalpha()) # ksForGeek

String2 = 'a,b,c,d,e'
print(String2.isalpha())

True
False

In [25]:
String1.upper()

'ABCDE'

In [26]:
String1.lower()

'abcde'

### List:

- A single list may contain DataTypes like Integers, Strings, as well as Objects.
- List is a type of container in Data Structures, are also very useful for implementing stacks and queues

#### Multiple types:

In [27]:
li0 = [1,'a',4,'c',2,'b']
print(li0)

[1, 'a', 4, 'c', 2, 'b']

#### Add element:
   -  __End of the List:__   
        - Append(): Single element, tuple, lists  
   - __Desired position:__  
        - Insert():  
   - __End of the list, and add multiple elements:__
        - extend()

In [28]:
# List after Addition of a Tuple: 
li1 = []

for i in range(4):
    li1.append(i)
    
print(li1)

li1.append((3,4))
print(li1)

[0, 1, 2, 3]
[0, 1, 2, 3, (3, 4)]

In [29]:
# after Addition of a list: 
li_ = [5,6,7]
li1.append(li_)

print(li1)

[0, 1, 2, 3, (3, 4), [5, 6, 7]]

In [30]:
li1.extend(li_) # Multiple elements
print(li1)

[0, 1, 2, 3, (3, 4), [5, 6, 7], 5, 6, 7]

In [31]:
li1.insert(3, 'test')
li1

[0, 1, 2, 'test', 3, (3, 4), [5, 6, 7], 5, 6, 7]

#### Multi-Dimensional List:

In [32]:
li2 = [['Geeks', 'For'] , ['Geeks']]

In [33]:
print(li2[0][1])

For

#### Removing Elements from the List:

- Remove():
    - Single element; multiple: iterator.
- Pop():

In [34]:
li3 = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12]

In [35]:
li3.remove(5)
print(li3)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

In [36]:
# Multiple remove:
for i in range(3):
    li3.remove(li3[i])
    
print(li3)

[2, 4, 7, 8, 9, 10, 11, 12]

In [37]:
# Pop(): Default last element.
li3.pop()

12

In [38]:
print(li3)

[2, 4, 7, 8, 9, 10, 11]

#### Remove by specific location:

In [39]:
li3.pop(2) # pop by index.

7

In [40]:
print(li3)

[2, 4, 8, 9, 10, 11]

#### Slicing:

In [41]:
li3[::-1]

[11, 10, 9, 8, 4, 2]

In [42]:
li3[:-4] # Elements sliced till 4th element from last:

[2, 4]

In [43]:
li3[:]

[2, 4, 8, 9, 10, 11]

In [44]:
li2

[['Geeks', 'For'], ['Geeks']]

#### Filter + lambda:

In [45]:
# Get result contains odd numbers of the list and even numbers of the list.
seq = [0, 1, 2, 3, 5, 8, 13] 

result = filter(lambda x : x%2, seq)

In [46]:
list(result)

[1, 3, 5, 13]

In [47]:

result = filter(lambda x : x%2 == 0, seq)
print(list(result))

[0, 2, 8]

#### map + lambda:

In [48]:
seq = [0, 1, 2, 3, 5, 8, 13] 

result = map(lambda x : x%2, seq)
print(type(result), list(result))

result = map(lambda x : x%2 == 0, seq)
print(list(result))

<class 'map'> [0, 1, 0, 1, 1, 0, 1]
[True, False, True, False, False, True, False]

In [49]:
seq = [0, 1, 2, 3, 5, 8, 13] 

def double_num(num):
    return num*2

result = map(lambda x: double_num(x), seq)

print(list(result))
print(type(result))

[0, 2, 4, 6, 10, 16, 26]
<class 'map'>

#### List comprehension:

- an elegant way of defining and creating a list. List Comprehension allows us to create a list using for loop with lesser code.

In [50]:
li5 = [i for i in range(11) if i%2 == 0]
print(li5)

[0, 2, 4, 6, 8, 10]

#### List Generator:m
- Instead of creating a list and keeping the whole sequence in the memory, the generator generates the next element in demand.
- Thus we can say that the generator expressions are memory efficient than the lists.

In [51]:
generator_ = (i for i in range(10) if i%2 ==0 )
print(generator_, end=' ')
print(type(generator_))

<generator object <genexpr> at 0x000001C7FEC866D8> <class 'generator'>

In [52]:
for i in generator_:
    print(i)

0
2
4
6
8

#### min/max:

In [53]:
a = [3, 4, 1, 3, 4, 5]

In [54]:
print(a.index(min(a)), 'value:', min(a))

2 value: 1

In [55]:
print(a.index(max(a)), 'value:', max(a))

5 value: 5

#### multiples of n without using any loop:- range()

In [56]:
# initializing a with range() 
a = range(1,10)
print(a, 'type:', type(a))

range(1, 10) type: <class 'range'>

- The variable storing the range created by range() takes more memory.

In [57]:
print(len(a))

9

In [58]:
print(*a) # Print out all elements.

1 2 3 4 5 6 7 8 9

In [59]:
import sys
print(sys.getsizeof(a)) # The size allotted using range()

48

- As range() returns the list, all the operations that can be applied on the list can be used on it.

In [60]:
a[2:5]

range(3, 6)

- Ex: Given n and m, print first m multiples of a n number without using any loops in Python:  
    - Input : n = 2, m = 3  
    - Output : 2 4 6  

    - Input : n = 3, m = 4  
    - Output : 3 6 9 12

In [61]:
n = int(input('n = '))
m = int(input('m = '))

n = 4
m = 6

In [62]:
li = range(n, (n*m)+1 ,n)
print(*li)

# inserts all elements from n to (m * n)+1 incremented by n.

4 8 12 16 20 24

- In Python 3, print(*(range(x)) is equivalent to print(" ".join([str(i) for i in range(x)]))

#### Matrix/List Equality:

In [63]:
A = [ [1, 1, 1, 1],[2, 2, 2, 2], [3, 3, 3, 3], [4, 4, 4, 4]] 
   
B = [ [1, 1, 1, 1], [2, 2, 2, 2], [3, 3, 3, 3], [4, 4, 4, 4]]

In [64]:
if (A == B):
    print('Equal')
else:
    print('No.')

Equal

#### Ex. Sort the values of first list using second list:

Input : 
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]  
list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]  

Output :  
['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']  


Input :  
list1 = ["g", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"]    
list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]  

Output :   
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

In [52]:
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0, 1, 1, 0, 1, 2, 2, 0, 1]

In [66]:
def zip_sort(list1, list2):
    zipped_list = list(zip(list2, list1))
    result = [ele for index, ele in sorted(zipped_list)] #!!!!!!!!!!!!!!!!!!!!
                       
    return result

In [67]:
zip_sort(list1, list2)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

#### Set and intersection:

- List could be converted to Set.
- Get intersection: & OR intersection()

__Ex.Print all the common elements of two lists:__  
Given two lists, print all the common element of two lists.  
Input :  
list1 = [1, 2, 3, 4, 5]   
list2 = [5, 6, 7, 8, 9]  

Output : {5}  
Explanation: The common elements of both the lists are 3 and 4  

Input :  
list1 = [1, 2, 3, 4, 5]  
list2 = [6, 7, 8, 9]  
Output : No common elements   

Explanation: They do not have any elements in common in between them

In [68]:
a = [1, 2, 3, 4, 5]
b =   [1, 2, 3, 4, 5]

In [69]:
def common_member(a, b): 
    set_a = set(a)
    set_b = set(b)
    
    set_inter = set_a&set_b
    
    return set_inter

In [70]:
if (common_member(a, b)):
    print(common_member(a, b))

else:
    print('No intersection.')

{1, 2, 3, 4, 5}

__OR:__

In [71]:
def common_member(a, b): 
    set_a = set(a)
    set_b = set(b)
    
    if (set_a.intersection(set_b)):
        return set_a.intersection(set_b)
    else:
        return 'No intersection.'

In [72]:
common_member(a, b)

{1, 2, 3, 4, 5}

#### Count occurrences of an element in a list:
- __list.count()__: return a int.
- __counter()__: returns a dictionary with occurences of all elements as a key-value pair

In [73]:
def count(lst, x):
    return lst.count(x)

In [74]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8] 
x = 8

count(lst, x)

5

__OR:__

In [75]:
from collections import Counter

In [76]:
counter = Counter(lst)
counter

Counter({8: 5, 6: 1, 10: 2, 20: 1})

In [77]:
counter[8] # Get the occurencies of element 8.

5

#### Convert given number into binary:
- bin()

- Ex. count number of 1s in binary representation of an integer.  

Input : n = 6  
Output : 2  
Binary representation of 6 is 110 and has 2 set bits  

Input : n = 11  
Output : 3  
Binary representation of 11 is 1101 and has 3 set bits

In [78]:
def countSetBits(num): 
    binary = bin(num)
    
    sum = count(list(binary),'1')
    print(list(binary))
    return sum

In [79]:
countSetBits(11)

['0', 'b', '1', '0', '1', '1']

3

#### Nested 'for' list comprehension:
- How to fill the elements in list/array?
- Nested list

- E.x.: Creating a 3D List:  

Input :   
3 x 3 x 3  
Output :  
[[['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']],  
 [['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']],  
 [['#', '#', '#'], ['#', '#', '#'], ['#', '#', '#']]]  

Input :  
5 x 3 x 2  
Output :  
[[['#', '#', '#', '#', '#'],  
  ['#', '#', '#', '#', '#'],  
  ['#', '#', '#', '#', '#']],  
 [['#', '#', '#', '#', '#'],  
  ['#', '#', '#', '#', '#'],  
  ['#', '#', '#', '#', '#']]]

In [80]:
def ThreeD(a, b, c): 
    mat = [[['#' for i in range(a)] for j in range(b)] for k in range(c)] #!!!!!!!!!
    return mat

In [81]:
ThreeD(5, 3, 2)

[[['#', '#', '#', '#', '#'],
  ['#', '#', '#', '#', '#'],
  ['#', '#', '#', '#', '#']],
 [['#', '#', '#', '#', '#'],
  ['#', '#', '#', '#', '#'],
  ['#', '#', '#', '#', '#']]]

#### Merge two 3D list into one:
- Use + to merge 2 matrix:

In [82]:
def merge3D(a,b,c):
    list1 = [[['1' for i in range(a)] for j in range(b)] for k in range(c)]
    list2 = [[['2' for i in range(a)] for j in range(b)] for k in range(c)]
    
    return list1 + list2

In [83]:
merge3D(3, 3, 3)

[[['1', '1', '1'], ['1', '1', '1'], ['1', '1', '1']],
 [['1', '1', '1'], ['1', '1', '1'], ['1', '1', '1']],
 [['1', '1', '1'], ['1', '1', '1'], ['1', '1', '1']],
 [['2', '2', '2'], ['2', '2', '2'], ['2', '2', '2']],
 [['2', '2', '2'], ['2', '2', '2'], ['2', '2', '2']],
 [['2', '2', '2'], ['2', '2', '2'], ['2', '2', '2']]]

#### Creating a sorted merged list of two unsorted lists:

Input :   
list1 = [25, 18, 9, 41, 26, 31]  
list2 = [25, 45, 3, 32, 15, 20]  
Output :  
[3, 9, 15, 18, 20, 25, 25, 26, 31, 32, 41, 45]  

Input :   
list1 = ["suraj", "anand", "gaurav", "aman", "kishore"]  
list2 = ["rohan", "ram", "mohan", "priya", "komal"]  
Output :  
['aman', 'anand', 'gaurav', 'kishore', 'komal',   
'mohan', 'priya', 'ram', 'rohan', 'suraj']

In [84]:
list1 = [25, 18, 9, 41, 26, 31]
list2 = [25, 45, 3, 32, 15, 20]

In [85]:
list1.extend(list2)
sorted(list1)

[3, 9, 15, 18, 20, 25, 25, 26, 31, 32, 41, 45]

__OR:__

In [86]:
list_extend = list1 + list2
list_extend.sort()

In [87]:
list_extend

[3, 3, 9, 15, 15, 18, 20, 20, 25, 25, 25, 26, 31, 32, 32, 41, 45, 45]

- Note:  
    __1. sort 2 lists:__  
        I. sorted()  
        II. list.sort()  
    __2. extend 2 lists:__ 
        I. l1.extend(l2)  
        II. l1 + l2

#### Largest, Smallest, Second Largest, Second Smallest in a List:

Input : list = [12, 45, 2, 41, 31, 10, 8, 6, 4]  
Output :   
Largest element is: 45  
Smallest element is: 2  
Second Largest element is: 41  
Second Smallest element is: 4  

Input : list = [22, 85, 62, 40, 55, 12, 39, 2, 43]  
Output :  
Largest element is: 85  
Smallest element is: 2  
Second Largest element is: 62  
Second Smallest element is: 12

In [88]:
list_ori = [12, 45, 2, 41, 31, 10, 8, 6, 4]

In [89]:
max(list_ori), min(list_ori)

(45, 2)

In [90]:
list_ori.sort()
list_ori[-2]

41

In [91]:
list_ori.sort()
list_ori[1]

4

#### Find average of a list
e.g.: 
Input : [4, 5, 1, 2, 9, 7, 10, 8]  
Output : Average of the list = 5.75  

Input : [15, 9, 55, 41, 35, 20, 62, 49]  
Output : Average of the list = 35.75

In [92]:
list_ori =  [15, 9, 55, 41, 35, 20, 62, 49]

In [93]:
avg = sum(list_ori)/len(list_ori)
round(avg,2)

35.75

__OR:__

Using reduce() and lambda:  
<font color='red'>reduce() to reduce the loop and by using the lambda function can compute summation of list.</font>

In [94]:
from functools import reduce #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [95]:
list_sum = reduce(lambda a, b: a+b, list_ori) #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [96]:
list_sum

286

In [97]:
avg = list_sum/len(list_ori)
avg

35.75

__OR:__  
Use mean()

In [98]:
from statistics import mean

In [99]:
mean(list_ori)

35.75

#### Sort a List according to the Length of the Elements:

Input : 
list = ["rohan", "amy", "sapna", "muhammad", "aakash", "raunak", "chinmoy"]  
Output : ['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']  

Input :   
list = [["ram", "mohan", "aman"], ["gaurav"], ["amy", "sima", "ankita", "rinku"]]  
Output :  
[['gaurav'], ['ram', 'mohan', 'aman'], ['amy', 'sima', 'ankita', 'rinku']]

In [105]:
list_word = ["rohan", "amy", "sapna", "muhammad", "aakash", "raunak", "chinmoy"]
list_len = []

In [106]:
for ele in list_word:
    list_len.append(len(ele))

list_len

[5, 3, 5, 8, 6, 6, 7]

In [116]:
list(zip(list_word, list_len))

[('rohan', 5),
 ('amy', 3),
 ('sapna', 5),
 ('muhammad', 8),
 ('aakash', 6),
 ('raunak', 6),
 ('chinmoy', 7)]

In [119]:
list_sorted_word = [ele for (index, ele) in sorted(list(zip(list_len, list_word)))]
list_sorted_word

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

__OR:__

by '<font color = 'red'>sorted(unsorted_list, key=len)'</font>

In [120]:
sorted(list_word, key=len)

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

__OR:__  
<font color='red'>list_word.sort(key=len)</font>

In [123]:
list_word.sort(key=len)

In [124]:
list_word

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

#### Multiply all numbers in the list (3 different ways):
Input :  list1 = [1, 2, 3]  
Output : 6   
Explanation: 1*2*3=6   

Input : list1 = [3, 2, 4]   
Output : 24

In [127]:
list1 = [3, 2, 4]

In [128]:
res = reduce(lambda a,b: a*b, list1)
res

24

__OR:__  
<font color = 'red'>numpy.prod() to get the multiplications </font>

In [129]:
import numpy

In [132]:
res = numpy.prod(list1)
res

24

#### Generate random numbers within a given range and store in a list

Maintained repetition only:  
Input :   
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]  
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]  
Output :  
[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

In [143]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

In [144]:
lst1.extend(lst2)
lst1

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

Maintained repetition and order  
Input :   
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]  
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]  
Output :  
[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

In [150]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

In [151]:
lst1.extend(lst2)

In [152]:
lst1

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

In [153]:
sorted(lst1)

[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

Without repetition: 
Input :  
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]  
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]  
Output :  
[32, 2, 12, 14, 15, 16, 48, 47, 20, 52, 54, 23, 26]

<font color = 'red'> use the set() function to remove repetition</font>

In [157]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

In [159]:
lst1.extend(lst2)

In [160]:
list(set(lst1)) #!!!!!!!!!!!!!!!!!!!!!!!!!

[32, 2, 12, 14, 15, 16, 48, 47, 20, 52, 54, 23, 26]

Union of three lists  
Input :  
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]  
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]  
lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]  
Output :  
[32, 64, 2, 4, 5, 6, 9, 12, 14, 15, 16, 48, 47, 78, 20, 52, 54, 23, 25, 26, 59]

In [169]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]

In [167]:
lst1.extend(lst2)

In [168]:
lst1.extend(lst3)
set(lst1)

{2, 4, 5, 6, 9, 12, 14, 15, 16, 20, 23, 25, 26, 32, 47, 48, 52, 54, 59, 64, 78}

__OR:__
 - This can be done efficiently by using both the set() and <font color='red'>union()</font> function.
 - This also takes care of the repetition and prevents them.

In [172]:
set_res = set().union(lst1, lst2, lst3)
list(set_res)

[2, 4, 5, 6, 9, 12, 14, 15, 16, 20, 23, 25, 26, 32, 47, 48, 52, 54, 59, 64, 78]

#### Intersection of two lists:
Input :   
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]  
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]  
Output :  
[9, 10, 4, 5]  

Input :  
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]  
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]  
Output :  
[9, 11, 26, 28]

<font color = 'red'>Use & get intersection.</font>

In [207]:
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69] 
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]

In [201]:
list(set(lst1)&set(lst2)) #!!!!!!!!!!!!!!! Use &

[9, 26, 11, 28]

__OR:__

In [203]:
list_res = [val for val in lst1 if val in lst2]

In [204]:
list_res

[9, 11, 26, 28]

__OR:__  
<font color='red'>built-in function called interscetion() to compute the intersected list.</font> For set()

In [208]:
list(set(lst1).intersection(lst2))

[9, 26, 11, 28]

#### Generate random numbers within a given range and store in a list:
Input : num = 10, start = 20, end = 40  
Output : [23, 20, 30, 33, 30, 36, 37, 27, 28, 38]  
The output contains 10 random numbers in range [20, 40].  

Input : num = 5, start = 10, end = 15  
Output : [15, 11, 15, 12, 11]  
The output contains 5 random numbers inrange [10, 15].

In [212]:
num = 10
start = 20
end = 40
list_res = []

<font color= 'red'>Use random.randint(start, end)</font>

In [215]:
import random

In [220]:
for i in range(10):
    list_res.append(random.randint(20,40))
    
list_res

[33, 36, 38, 26, 29, 27, 28, 29, 25, 28]

#### Move all zeroes to end of array using List Comprehension in Python
Input :  arr = [1, 2, 0, 4, 3, 0, 5, 0]  
Output : arr = [1, 2, 4, 3, 5, 0, 0, 0]  

Input : arr  = [1, 2, 0, 0, 0, 3, 6]  
Output : arr = [1, 2, 3, 6, 0, 0, 0]

In [230]:
arr =  [1, 2, 0, 0, 0, 3, 6]
list_res=[]

In [231]:
list_res = list(filter(lambda a: a>0, arr))
list_res

[1, 2, 3, 6]

In [232]:
zero_num = len(arr)-len(list_res)
print(zero_num)

for count_zero in range(zero_num):
    list_res.append(0)

list_res

3

[1, 2, 3, 6, 0, 0, 0]

__OR:__  
<font color='red'> '+' to merge 2 lists</font>  
<font color='red'> [], for </font>

In [233]:
list_res = [non_zero for non_zero in arr if non_zero!=0] + [zero for zero in arr if zero==0]#!!!!!!!!!!!!!!!!!!!
list_res

[1, 2, 3, 6, 0, 0, 0]

#### Sort a list according to the second element in sublist:
Input : [['rishav', 10], ['akash', 5], ['ram', 20], ['gaurav', 15]]  
Output : [['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]  

Input : [['452', 10], ['256', 5], ['100', 20], ['135', 15]]  
Output : [['256', 5], ['452', 10], ['135', 15], ['100', 20]]

<font color = 'red'> dictionary: sort by value or key:  
- By value: sorted(in_dict.items(), key = lambda item: item[0]) __OR:__ sorted(mydict.keys())
- By value: sorted(in_dict.items(), key = lambda item: item[1])
</font>

In [74]:
in_list =  [['452', 10], ['256', 5], ['100', 20], ['135', 15]]
out_list = []

In [75]:
in_dict = dict(in_list)
in_dict

{'452': 10, '256': 5, '100': 20, '135': 15}

In [76]:
sorted_list = list(sorted(in_dict.items(), key = lambda item: item[1]))
sorted_list

[('256', 5), ('452', 10), ('135', 15), ('100', 20)]

In [77]:
for ele in sorted_list:
    ele = list(ele)
    out_list.append(ele)

In [78]:
out_list

[['256', 5], ['452', 10], ['135', 15], ['100', 20]]

__OR:__  
<font color = 'red'>list.sort(key=lambda x: x[1])</font>

In [79]:
in_list.sort(key = lambda x: x[1]) 
in_list

[['256', 5], ['452', 10], ['135', 15], ['100', 20]]

__OR:__  
<font color = 'red'>sorted(list, key = lambda x:x[1]) </font>

In [80]:
sorted(in_list, key = lambda x:x[1])

[['256', 5], ['452', 10], ['135', 15], ['100', 20]]

__NOTE:__  
<font color='red'>Remove(), del(), pop()</font>

<img src='Image/4.png'>

In [ ]:
#### Convert an array to an ordinary list with the same items:

__NOTE:__
- <font color = 'red'>Array VS. List: </font> 
    - <font color = 'red'>Similarity: </font>  
        - Both are used for storing data  
        - Both are mutable  
        - Both can be indexed and iterated through  
        - Both can be sliced  
   
    - <font color = 'red'>The main difference between: the functions that you can perform to them.  
        - Arrays are specially optimised for arithmetic computations. </font>
        - E.g.:  
        you can divide an array by 3, and each number in the array will be divided by 3 and the result will be printed if you request it.   
        If you try to divide a list by 3, Python will tell you that it can't be done, and an error will be thrown.

In [96]:
lis = [0,3,4,5] # List: could NOT be operated by arithmetic computations for every element.
lis/3.0

TypeError: unsupported operand type(s) for /: 'list' and 'float'

In [97]:
from numpy import array #!!!!!!!!!!!!!!!!!!!!!

In [98]:
x = array([3, 6, 9, 12]) # Array: could be operated by arithmetic computations for every element.
x/3.0
print(x)

[ 3  6  9 12]

#### Convert an array to an ordinary list with the same itemsï¼š
Input : array('i', [1, 3, 5, 3, 7, 1, 9, 3])  
Output :[1, 3, 5, 3, 7, 1, 9, 3]  
Explanation: the array with elements [1, 3, 5, 3, 7, 1, 9, 3] are converted into list with the same elements.  

Input :array('k', [45, 23, 56, 12])  
Output :[45, 23, 56, 12]  
Explanation: the array with elements [45, 23, 56, 12] are converted into list with the same elements.

In [106]:
#from numpy import array
from array import *

In [108]:
arr_in = array('i', [45,34,67])
print(type(arr_in))

<class 'array.array'>

In [110]:
list_out = list(arr_in)
list_out

[45, 34, 67]

In [111]:
type(list_out)

list

In [112]:
__OR:__
list_out = arr_in.tolist()
list_out

[45, 34, 67]

In [113]:
type(list_out)

list

#### Find Cumulative sum of a list:
The problem statement asks to produce a new list whose  i(th) element will be equal to the sum of the  (i+1)th  elements.  
Input : list = [10, 20, 30, 40, 50]  
Output : [10, 30, 60, 100, 150]  

Input : list = [4, 10, 15, 18, 20]  
Output : [4, 14, 29, 47, 67]

In [136]:
li_in = [10, 20, 30, 40, 50]
li_temp = []
li_res = []

In [131]:
from functools import reduce

In [132]:
for ele in li_in:
    li_temp.append(ele)
    ele_sum = reduce((lambda x, y: x+y), li_temp)
    li_res.append(ele_sum)

10
[10]
30
[10, 30]
60
[10, 30, 60]
100
[10, 30, 60, 100]
150
[10, 30, 60, 100, 150]

In [133]:
li_res

[10, 30, 60, 100, 150]

__OR:__

In [151]:
li_in =[4, 10, 15, 18, 20]
li_res = []
sum = 0

In [152]:
for ele in li_in:
    sum+=ele
    li_res.append(sum)

In [153]:
li_res

[4, 14, 29, 47, 67]

#### Find missing and additional values in two lists:
Input :  
list1 = [1, 2, 3, 4, 5, 6]  
list2 = [4, 5, 6, 7, 8]  

Output :   
Missing values in list1 = [8, 7]  
         Additional values in list1 = [1, 2, 3]  
         Missing values in list2 = [1, 2, 3]  
         Additional values in list2 = [7, 8]

In [154]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8]

In [160]:
set_union = set(list1).union(set(list2))
set_union

{1, 2, 3, 4, 5, 6, 7, 8}

In [162]:
missed_list1 = set_union - set(list1)
missed_list1

{7, 8}

In [163]:
set_intersection = set(list1) & set(list2)
set_intersection

{4, 5, 6}

In [164]:
set_additional = set(list1) - set_intersection
set_additional

{1, 2, 3}

__OR:__  
<font color = 'red'>set(list1).difference(list2)</font>

In [165]:
set(list1).difference(list2) # list1 has, but list2 NO.

{1, 2, 3}

In [166]:
set(list2).difference(list1) # list2 has, but list1 NO.

{7, 8}

#### Right rotate a list by n:
Input :   
n = 2   
         List_1 = [1, 2, 3, 4, 5, 6]  
Output :   
List_1 = [5, 6, 1, 2, 3, 4]  
We get output list after right rotating (clockwise) given list by 2.  

Input :   
n = 3  
         List_1 = [3, 0, 1, 4, 2, 3]  
Output :   
List_1 = [4, 2, 3, 3, 0, 1]

In [195]:
n = 2
li1 = [1, 2, 3, 4, 5, 6]
li_res = []

In [199]:
for ele in li1[len(li1)-n:]:
    li_res.append(ele)

list(li_res)

[5, 6]

In [200]:
for ele in li1[:len(li1)-n]:
    li_res.append(ele)
li_res

[5, 6, 1, 2, 3, 4]

__OR:__

In [206]:
li1 = [1, 2, 3, 4, 5, 6]

In [207]:
list_1 = (list_1[len(li1) - n : len(li1)] + list_1[0 : len(li1) - n]) 
print(list_1)

[5, 6, 1, 2, 3, 4]

__OR:__

In [209]:
li1 = [1, 2, 3, 4, 5, 6]

In [211]:
list_res = li1[-n:] + li1[:-n]
list_res

[5, 6, 1, 2, 3, 4]

#### All palindrome numbers in a list:  
Input: 10 121 133 155 141 252  
Output: 121 141 252  
Total palindrome nos. are 3  

Input: 111 220 784 565 498 787 363  
Output: 111 565 787 363  
Total palindrome nos. are 4

In [236]:
li_input = [10,121,133,155,141,252]

In [237]:
[int(dig) for dig in str(1023)]

[1, 0, 2, 3]

In [238]:
list(filter(lambda x: [int(dig) for dig in str(x)] == [int(dig) for dig in str(x)][::-1], li_input))

[121, 141, 252]

__NOTE:__
<font color = 'red'>
- filter():  
    filter(lambda x: CONDITION_FOR_REMAINING, list)
    
- int to char list:  
    [int(x) for x in str(num)]
</font>

#### Split the Even and Odd elements into two different lists:
Input :  
    [8, 12, 15, 9, 3, 11, 26, 23]  
Output :   
    Even lists: [8, 12, 26]  
         Odd lists: [15, 9, 3, 11, 23]  


Input :   
    [2, 5, 13, 17, 51, 62, 73, 84, 95]  
Output :   
    Even lists: [2, 62, 84]  
    Odd lists: [5, 13, 17, 51, 73, 95]

In [252]:
li_in = [2, 5, 13, 17, 51, 62, 73, 84, 95]

In [253]:
li_odd = [ele for ele in li_in if ele%2!=0]
li_odd

[5, 13, 17, 51, 73, 95]

In [254]:
li_even = [ele for ele in li_in if ele%2 == 0]
li_even

[2, 62, 84]

#### Print duplicates from a list of integers:
Input :   
    list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]  
Output :   
    output_list = [20, 30, -20, 60]  


Input :    
    list = [-1, 1, -1, 8]  
Output :   
    output_list = [-1]

In [262]:
lst = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

In [263]:
set(list(filter(lambda x: lst.count(x)>1, lst)))

{-20, 20, 30, 60}

#### Find all close matches of input string from a list:
Input :   
    patterns = ['ape', 'apple', 'peach', 'puppy'], input = 'appel'  
Output :   
    ['apple', 'ape']

<font color = 'red'>Use difflib.get_close_matches</font>

In [264]:
from difflib import get_close_matches

In [273]:
patterns = ['ape', 'apple', 'peach', 'puppy'] 
input_word = 'app'

In [274]:
get_close_matches(input_word, patterns)

['apple', 'ape']

#### Remove empty tuples from a list:
Input :   
    tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]    
Output :   
    [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]  

Input :   
    tuples = [('','','8'), (), ('0', '00', '000'), ('birbal', '', '45'), (''), (),  ('',''),()]    
Output :   
    [('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]

In [280]:
tuples = [('','','8'), (), ('0', '00', '000'), ('birbal', '', '45'), (''), (), ('',''),()]

In [284]:
list(filter(lambda x: len(x) != 0, tuples))

[('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]

__OR:__  
<font color = 'red'>filter(None, tuples)</font>

In [285]:
list(filter(None, tuples))

[('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]

__OR:__  
<font color = 'red'>List comprehension</font>

In [286]:
[ele for ele in tuples if ele]

[('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]