## Tuples:

- Tuple VS. List:
    - Tuples are :
        - immutable, hashable, 
        - contain a sequence of heterogeneous elements(accessed via unpacking or indexing)
        - contain any number of elements and of any datatype (like strings, integers, list, etc.).
    - Lists are:
        - mutable, un-hashable, 
        - contain homogeneous elements(accessed by iterating over the list)

### Create a tuple and convert list to tuple:

In [1]:
t1 = ()
print('t1', t1)

t1 ()

__OR:__  
<font color='red'>Creating a Tuple with the use of built-in function </font>

In [13]:
t1 = tuple('this is a tuple.')
print(t1)

('t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', '.')

In [15]:
t1 = tuple('3884')
print(t1)

('3', '8', '8', '4')

In [2]:
t1 = ('ele1', 'ele2')
print(t1)

('ele1', 'ele2')

In [6]:
l1 = ['ele1', 'ele2', 'ele3']
print(tuple(l1))

('ele1', 'ele2', 'ele3')

### Creating a Tuple with Mixed Datatypes

In [16]:
t3 = (5,'tuple', 8.3, 'nice')
t3

(5, 'tuple', 8.3, 'nice')

### Creating a Tuple with nested tuples

In [18]:
t1 = ('t1', 't1')
t2 = ('t2', 't2')
t3 = (t1, t2)
t3

(('t1', 't1'), ('t2', 't2'))

### Creating a Tuple with repetition:

In [19]:
t4 = (3,4,5)
t4*4

(3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5)

In [21]:
t1 = ('t1', 't2')
t1*3

('t1', 't2', 't1', 't2', 't1', 't2')

In [22]:
t1 = ('t1',)
t1*3

('t1', 't1', 't1')

In [23]:
t1 = ('t1')
t1 * 3

't1t1t1'

### Creating a Tuple with the use of loop

In [9]:
t2 = ('Geeks')
N = 5

In [10]:
for i in range(int(N)):
    t2 = (t2,)
print(t2)

((((('Geeks',),),),),)

### Concatenation of Tuples:
<font color='red'> by the use of ‘+’ operator. </font>

In [25]:
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('Geeks', 'For', 'Geeks')

In [26]:
t = Tuple1 + Tuple2

In [27]:
t

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

### Slicing of Tuple:

In [28]:
t = tuple('GEEKSFORGEEKS')
t

('G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

In [29]:
# Removing First element:
t = t[1:]
t

('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

In [30]:
# Reversing the Tuple:
t[::-1]

('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E')

In [32]:
# Printing elements of a Range 
t #('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
t[2:8]

('K', 'S', 'F', 'O', 'R', 'G')

### Deleting a Tuple：

#### Tuples are immutable and hence they do not allow deletion of a part of it！

In [35]:
Tuple1 = (0, 1, 2, 3, 4)

In [36]:
del Tuple1

### Print unique rows in a given boolean matrix using Set with tuples:

Input:  
    mat = [[0, 1, 0, 0, 1],  
             [1, 0, 1, 1, 0],  
             [0, 1, 0, 0, 1],  
             [1, 1, 1, 0, 0]]  
Output:  
          (1, 1, 1, 0, 0)  
          (0, 1, 0, 0, 1)  
          (1, 0, 1, 1, 0)

In [57]:
mat = [[0, 1, 0, 0, 1],
[1, 0, 1, 1, 0],
[0, 1, 0, 0, 1],
[1, 1, 1, 0, 0]]

In [58]:
t_res = map(tuple, mat) #!!!!!!!!!!!!!!! Convert all elements to tuple

In [59]:
s_out = set(t_res) #!!!!!!!!!!!!!!!!! Convert map to set.

In [60]:
s_out

{(0, 1, 0, 0, 1), (1, 0, 1, 1, 0), (1, 1, 1, 0, 0)}

In [61]:
for ele in s_out:
    print(ele, '\n')

(1, 1, 1, 0, 0)

(0, 1, 0, 0, 1)

(1, 0, 1, 1, 0)

__NOTE:__  
<font color='red'> __map(tuple, list):__ Convert all elements to tuple</font>

### Generate all possible valid IP addresses from given string:

__Restore the string by returning all possible valid IP address combinations.  
A valid IP address must be in the form of A.B.C.D, where A, B, C, and D are numbers from 0-255.  
The numbers cannot be 0 prefixed unless they are 0.__  

Input : 25525511135  
Output : [“255.255.11.135”, “255.255.111.35”]  
Explanation:   
These are the only valid possible IP addresses.  


Input : "25505011535"  
Output : []  
Explanation :   
We cannot generate a valid IP address with this string.

In [67]:
# Corner cases:
def is_valid(ip): 
    ip = ip.split('.')
    print(ip)
    
    li = list(filter(lambda i: len(i)>0 and len(i)<=3 and int(i)>0 and int(i)<255 and i[0]!= 0, ip))
    #!!!!!!!!!!!!!!!!! how to use filter when judge some condition.
 
    if len(li) == 4:
        return True
    return False

In [68]:
is_valid('139.29939.39.29')

['139', '29939', '39', '29']
['139', '39', '29']

False

### Dictionary to find mirror characters in a string
#### we need to mirror the characters from N-th position up to the length of the string in the alphabetical order.   
#### In mirror operation, we change ‘a’ to ‘z’, ‘b’ to ‘y’, and so on.

Input : N = 3  
        paradox  
Output : paizwlc  
We mirror characters from position 3 to end.  

Input : N = 6  
        pneumonia  
Output : pnefnlmrz

In [138]:
str = 'paradox'
str_dice = 'abcdefghijklmnopqrstuvwxyz'
dic = {}
N = 3

In [139]:
dic = dict(zip(list(str_dice), list(str_dice)[::-1])) #!!!!!!!!!!!!!!!!!!!!!! Create dictionary with iteration.
dic

{'a': 'z',
 'b': 'y',
 'c': 'x',
 'd': 'w',
 'e': 'v',
 'f': 'u',
 'g': 't',
 'h': 's',
 'i': 'r',
 'j': 'q',
 'k': 'p',
 'l': 'o',
 'm': 'n',
 'n': 'm',
 'o': 'l',
 'p': 'k',
 'q': 'j',
 'r': 'i',
 's': 'h',
 't': 'g',
 'u': 'f',
 'v': 'e',
 'w': 'd',
 'x': 'c',
 'y': 'b',
 'z': 'a'}

In [146]:
def convert(str, N, dic):
    if N>len(str):
        return []
    else:
        piece = str[N-1:]
        print('original: ', piece)
    
        res = list(map(lambda x: dic.get(x), piece)) # !!!!!!!!!!!!!!! Get dictionary value by KEY: or dic[value]
        yield ''.join(res)

In [147]:
list(convert(str, N, dic))[0]

original:  radox

'izwlc'

In [149]:
str[:N-1] + list(convert(str, N, dic))[0] # Expected: paizwlc

original:  radox

'paizwlc'

__NOTE:__  
    <font color = 'red'>__Get dictionary value by KEY:__ or dic[value]  </font>  
    <font color = 'red'>__Create dictionary by iteration__: dict(zip(XXX, XXX))</font>

### Generate two output strings depending upon occurrence of character in input string.

Input : str[] = "geeksforgeeks"  
Output : String with characters occurring once: for  
String with characters occurring multiple times: egks  

Input : str[] = "geekspractice"  
Output : String with characters occurring once: agikprst  
String with characters occurring multiple times: ce

In [35]:
str_in = "geeksforgeeks"
str_out = ""
dict_temp = {}

In [36]:
li_in = list(str_in)
li_in

['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's']

In [38]:
for ele in li_in:
    count = 0
    #print('\nele: ', ele)
    
    for ind in range(li_in.index(ele), len(li_in)):
        #print('ind: ', ind, 'li_in[ind]: ', li_in[ind])
        
        if ele == li_in[ind]:
            
            count += 1
            #print('yes', count)
            dict_temp[ele] = count
        
dict_temp

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

In [51]:
dict_res_1_time = dict(filter(lambda ele: ele[1]==1, dict_temp.items())) #!!!!!!!!!!!!!!!!!!!!!! Filter the dictionary by condition
''.join(list(dict_res_1_time.keys()))

'for'

__OR:__  
<font color='red'>__from collections import Counter__ </font>

- A counter is a container that stores elements as dictionary keys, and their counts are stored as dictionary values.  
input = "geeksforgeeks"  
freqDict = Counter(input)  
freqDict

In [60]:
str_in = "geeksforgeeks"

In [68]:
Counter(str_in).items() #!!!!!!!!!!!!!!!!!!!!!!!! Get dictionary by counting occurance.

dict_items([('g', 2), ('e', 4), ('k', 2), ('s', 2), ('f', 1), ('o', 1), ('r', 1)])

In [65]:
freqDict_More = [key for (key, value) in Counter(str_in).items() if value>1]
''.join(sorted(freqDict_More))

'egks'

__NOTE:__  
<font color='red'>Filter a dictionary by conditions on keys or values:  
- 1. __filter()__:  
        dict(filter(lambda elem: elem[0] % 2 == 0, dictOfNames.items()))
- 2. __Dict Comprehension__:  
        dic = {key for (key,value) in dictOfNames.items() if value>10}
</font>

In [52]:
dictOfNames = {
   7 : 'sam',
   8: 'john',
   9: 'mathew',
   10: 'riti',
   11 : 'aadi',
   12 : 'sachin'
}

In [54]:
dic = {value for (key, value) in dictOfNames.items() if int(key)%2==0}
dic

{'john', 'riti', 'sachin'}

### Groupby method to remove all consecutive duplicates:  
Input  : aaaaabbbbbb  
Output : ab  

Input : geeksforgeeks  
Output : geksforgeks  

Input : aabccba  
Output : abcba

In [139]:
str_in = 'geeksforgeeks'
res =[]

In [140]:
from itertools import groupby

In [141]:
for (key, value) in groupby(str_in):
    print(key, value)
    res.append(key)

g <itertools._grouper object at 0x0000029AF3495470>
e <itertools._grouper object at 0x0000029AF34957B8>
k <itertools._grouper object at 0x0000029AF3495470>
s <itertools._grouper object at 0x0000029AF3495828>
f <itertools._grouper object at 0x0000029AF3495470>
o <itertools._grouper object at 0x0000029AF34952E8>
r <itertools._grouper object at 0x0000029AF3495470>
g <itertools._grouper object at 0x0000029AF34952E8>
e <itertools._grouper object at 0x0000029AF3495470>
k <itertools._grouper object at 0x0000029AF34952E8>
s <itertools._grouper object at 0x0000029AF3495470>

In [143]:
''.join(res)

'geksforgeks'

__OR:__

In [145]:
import itertools

In [147]:
str_in = 'geeksforgeeks'
res =[]

In [148]:
for (key, value) in itertools.groupby(str_in):
    print(key, value)
    res.append(key)

g <itertools._grouper object at 0x0000029AF34398D0>
e <itertools._grouper object at 0x0000029AF37B8BA8>
k <itertools._grouper object at 0x0000029AF3499B70>
s <itertools._grouper object at 0x0000029AF37B8BA8>
f <itertools._grouper object at 0x0000029AF3439240>
o <itertools._grouper object at 0x0000029AF3677AC8>
r <itertools._grouper object at 0x0000029AF3439240>
g <itertools._grouper object at 0x0000029AF3677AC8>
e <itertools._grouper object at 0x0000029AF3439240>
k <itertools._grouper object at 0x0000029AF3677AC8>
s <itertools._grouper object at 0x0000029AF3439240>

In [149]:
res

['g', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'k', 's']

__NOTE:__  
<font color='red'>from itertools import groupby  </font>  
__OR:__   
<font color='red'>import itertools: itertools.groupby</font>

### Remove empty tuples from a list:  
Input : tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]  
Output : [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]  

Input : tuples = [('','','8'), (), ('0', '00', '000'), ('birbal', '', '45'), (''), (),  ('',''),()]  
Output : [('', '', '8'), ('0', '00', '000'), ('birbal', '', '45'), ('', '')]

In [154]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]

In [155]:
t_res = filter(lambda item: len(item)!=0, tuples)
list(t_res)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

__OR:__

In [156]:
t_res = [t for t in tuples if t]
t_res

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

__OR:__

In [157]:
t_res = filter(None, tuples)
list(t_res)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

### Reversing a Tuple:
Input : tuples = ('z','a','d','f','g','e','e','k')  
Output : ('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')  

Input : tuples = (10, 11, 12, 13, 14, 15)  
Output : (15, 14, 13, 12, 11, 10)

In [158]:
tuples = ('z','a','d','f','g','e','e','k')

In [160]:
tuple(list(tuples)[::-1])

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

__OR:__  
<font color='red'>tuple[::-1]</font>

In [163]:
tuples = ('z','a','d','f','g','e','e','k')

In [164]:
tuples[::-1]

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

__OR:__  
<font color='red'>reversed() built-in function.</font>

In [166]:
tuple(reversed(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

### Get the fractional and integer parts of the number in a two-item tuple:
Input: 100.12  
Output:  (100.0, 0.12)  

Input: -100.72  
Output: (-100.0, -0.72)

In [169]:
import math

In [174]:
t = tuple(reversed(math.modf(100.12)))
t

(100.0, 0.12000000000000455)

In [181]:
tuple(map(lambda x: round(x, 2), t))

(100.0, 0.12)

### Convert a list of Tuples into Dictionary:
Input : [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]  
Output : {'akash': [10], 'gaurav': [12], 'anand': [14], 'ashish': [30], 'akhil': [25], 'suraj': [20]}  

Input : [('A', 1), ('B', 2), ('C', 3)]  
Output : {'B': [2], 'A': [1], 'C': [3]}

In [208]:
li_in = [('A', 1), ('B', 2), ('C', 3)]
di_res = {}

In [209]:
for t in li_in:
    li_age = []
    li_age.append(t[1])
    di_res[t[0]] = li_age
di_res

{'A': [1], 'B': [2], 'C': [3]}

__OR:__  
<font color='red'>__setdefault()__ to convert the first parameter to key and the second to the value of the dictionary.  
Setdefault(key, def_value) function searches for a key and displays its value and creates a new key with def_value if the key is not present.  
__append():__ function we just added the values to the dictionary.</font>

In [220]:
li_in =  [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dic = {}

In [221]:
for (key, value) in li_in:
    dic.setdefault(key, []).append(value) 
dic

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

__NOTE:__  
__setdefault()__ Returns:  
1. Value of the key if it is in the dictionary: 
    - Dictionary1 = { 'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}  
    - Dictionary1.setdefault('C') # Geeks
2. None if key is not in the dictionary and default_value is not specified.  
    - Dictionary1 = { 'A': 'Geeks', 'B': 'For'} 
    - Dictionary1.setdefault('C') # return None
3. default_value if key is not in the dictionary and default_value is specified.

__OR:__  
<font color='red'>Convert tuple by dict()</font>

In [223]:
li_in =  [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dic = {}

In [224]:
dic = dict(li_in)

In [225]:
dic

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

### Sort a tuple by its float element:  
Input : tuple = [('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')]  
Output : [('akash', '24.541'), ('lucky', '18.265'), ('nikhil', '14.107'), ('gaurav', '10.365'), ('anand', '4.256')]  

Input : tuple = [('234', '9.4'), ('543', '16.9'), ('756', '5.5'), ('132', '4.2'), ('342', '7.3')]  
Output : [('543', '16.9'), ('234', '9.4'), ('342', '7.3'), ('756', '5.5'), ('132', '4.2')]

In [347]:
tuples = [('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')]

In [348]:
sorted(tuples, key = lambda x: float(x[1]), reverse=True) #!!!!!!!!!!!!!!!!!!!!!!!!

[('akash', '24.541'),
 ('lucky', '18.265'),
 ('nikhil', '14.107'),
 ('gaurav', '10.365'),
 ('anand', '4.256')]

__NOTE__:  
<font color='red'>__sorted(tuple, key = lambda x: XXX, reverse=True)__</font>

### Count occurrences of an element in a Tuple:
Tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)  

Input : 4  
Output : 0 times  

Input : 10  
Output : 3 times  

Input : 8  
Output : 4 times

In [260]:
t =  (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [261]:
dic = Counter(t)
dic

Counter({10: 3, 8: 4, 5: 2, 2: 2, 15: 1})

In [262]:
def count_occ(t, ele):
    dic = Counter(t)
    return dic[int(ele)]

In [264]:
count_occ(t, 15)

1

In [265]:
count_occ(t, 3)

0

__OR:__  
<font color = 'red'>tuple __count()__:</font>

In [269]:
t =  (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [270]:
def count_ele(tup, ele):
    return t.count(ele)

In [272]:
count_ele(t, 15)

1

In [273]:
count_ele(t, 3)

0

### Count the elements in a list until an element is a Tuple:
Input : [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]  
Output : 4  

Input : [4, (5, 6), 10, (1, 2, 3), 11, 2, 4]  
Output : 1

In [367]:
li_in = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]
count = 0

<font color= 'red'>__isinstance():__   
    checks if the object (first argument) is an instance or subclass of classinfo class (second argument).</font>

In [368]:
def Count(li): 
    counter = 0
    
    for num in li: 
        print(num)
        if isinstance(num, int): #!!!!!!!!!!!!!!!!! isinstance(ele, type): Is the type?
            counter = counter + 1
        else:
            break
    return counter

In [369]:
# Driver Code 
li = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4] 
print('The length: ', Count(li))

4
5
6
10
(1, 2, 3)
The length:  4

### Sort Tuples in Increasing Order by any key:
Input : tuple = [(2, 5), (1, 2), (4, 4), (2, 3)]  m = 0  
Output : [(1, 2), (2, 3), (2, 5), (4, 4)]  
Explanation: Sorted using the 0th index key.

Input :  [(23, 45, 20), (25, 44, 39), (89, 40, 23)] m = 2  
Output : Sorted: [(23, 45, 20), (89, 40, 23), (25, 44, 39)]  
Explanation: Sorted using the 2nd index key

In [383]:
import operator

In [427]:
li_ori = [(23, 45, 20), (25, 44, 39), (89, 40, 23)] 
sorted(li_ori, key = lambda x: int(x[2-1]))

[(89, 40, 23), (25, 44, 39), (23, 45, 20)]

In [428]:
def sort_tuple(li_ori, m):
    # Judge if m < the length of every elements:
    if m > min([len(ele) for ele in li_ori]) or m<0:
        print(m)
        return m
    
    # If m < the min length of every len in list:
    else:
        return sorted(li_ori, key = lambda x: int(x[m]))

In [430]:
sort_tuple(li_ori, 2)

[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

__OR:__

In [434]:
def sort_tuple(li_ori, m):
    return sorted(li_ori, key = lambda x: x[m])

In [435]:
sort_tuple(li_ori, 2)

[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

### Namedtuple in Python:
<font color='red'>__collections.Namedtuple:__</font>  
   - contain keys that are hashed to a particular value (similar dictionary):
        - supports both __access from key value and iteration__, the functionality that dictionaries lack.
   - __Access Operations__:
        - Access by <font color='red'>index;</font>
        - Access by <font color='red'>keyname;</font>
        - Using <font color='red'>getattr()</font>: to access the value by giving namedtuple and key value as its argument.

In [436]:
import collections

In [450]:
Student = collections.namedtuple('Student',['name','age','DOB'])

In [451]:
S1 = Student('Nandini','19','2541997') # adding value to namedtuple

In [452]:
S1

Student(name='Nandini', age='19', DOB='2541997')

In [453]:
S2 = Student('Nandini','20','2541997') # adding value to namedtuple

In [454]:
S2

Student(name='Nandini', age='20', DOB='2541997')

In [455]:
print ("The Student Name using index is : ",end ="")
print (S1[0])  # Access by index

print ("The Student Age using index is : ",end ="") 
print (S1[1])  # Access by index

The Student Name using index is : Nandini
The Student Age using index is : 19

In [456]:
print ("The Student Name using index is : ",end ="") 
print (S2[0]) 

print ("The Student Age using index is : ",end ="") 
print (S2[1])

The Student Name using index is : Nandini
The Student Age using index is : 20

In [458]:
print ("The Student name using keyname is : ",end ="") 
print(S1.name) # Access by name

print ("The Student name using keyname is : ",end ="") 
print(S1.age) # Access by name

The Student name using keyname is : Nandini
The Student name using keyname is : 19

In [460]:
print ("The Student name using getattr() is : ",end ="") 
print (getattr(S1,'name')) # Access by getattr()

print ("The Student name using getattr() is : ",end ="") 
print (getattr(S1,'age'))  # Access by getattr()

The Student name using getattr() is : Nandini
The Student name using getattr() is : 19

#### Convert list to namedtuple:

In [465]:
Student = collections.namedtuple('Student',['name','age','DOB']) 
S1 = Student('Nandini2','20','2541997')

In [466]:
li = ['Manjeet', '19', '411997' ]

<font color='red'>Using ___make()__ to return namedtuple(): </font>

In [470]:
S_li = Student._make(li)

In [472]:
print(S_li.name, S_li.age, S_li.DOB)

Manjeet 19 411997